# Generated Prisma files
src/generated/**/*
src/generated/prisma/runtime/**/*
src/generated/prisma/wasm.js

# Build outputs
.next
out
dist
build

# Dependencies
node_modules
**/node_modules

# Cache
.eslintcache

# Generated and minified files
*.min.js
*.min.ts
*.min.tsx
*.bundle.js
*.bundle.ts
*.bundle.tsx

# Coverage
coverage

# Test files
**/*.test.ts
**/*.test.tsx
**/*.spec.ts
**/*.spec.tsx 